@{
    ViewBag.Title = "Password Changed";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <!-- Confirmation Card -->
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white text-center">
                    <h3 class="mb-0">Password Changed Successfully</h3>
                </div>
                <div class="card-body text-center">
                    <p class="lead">Your password has been updated. Please use your new password for future logins.</p>
                    <a href="@Url.Action("FoodSearch", "CustomerAccount")" class="btn btn-success btn-lg">
                        <i class="fa fa-home"></i> Go to Food Search
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>